@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *)); /*allows dark mode stuff in html*/

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --color-black: #1b2d3c;
    --color-dark: #2b7836;
    --color-midtone: #93c865;
    --color-white: #fff8e2;
    --color-accent: #e53498;
    --color-accent2: #2629d8;
    --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
    --ease-in-out-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);;
}
body {
    overflow-x: hidden;
    color: var(--color-white);
    background-color: var(--color-black);
    font-family: 'Azeret Mono', monospace;
    font-weight: 250;
}
strong {
    font-weight: 800;
}

::selection {
    background-color: var(--color-dark);
    color: var(--color-white);
}

.ease-out-back {
    transition-timing-function: var(--ease-out-back);
}

.ease-in-out-back {
    transition-timing-function: var(--ease-in-out-back);
}

.ease-out-expo {
    transition-timing-function: var(--ease-out-expo);
}

.button{
    background-color: var(--color-shadow);
    
}
button:hover {
background-color: #002ead;
transition: 0.1s;
}

button:active {
background-color: #ffbf00;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}